<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xiejx.jfun.dao.RoleMapper">
    <select id="selectRolesByUser" resultType="cn.xiejx.jfun.entity.Role">
        SELECT * FROM sys_role WHERE sys_role.id IN ( SELECT role_id FROM sys_user_role ur WHERE ur.uid =#{userId})
    </select>
    <select id="getRoleTree" resultType="cn.xiejx.jfun.entity.Role">
        select * from sys_role
    </select>
</mapper>